fastapi
uvicorn[standard]
python-multipart
pydantic
sqlalchemy
numpy
scipy
pandas
scikit-learn
easyocr
python-bidi==0.6.7
torch
torchvision
torchaudio
opencv-python-headless
Pillow
supabase
groq
python-dotenv
